.txt-type > .txt {
    font-size: 20px; /* Change this value to adjust the size of the text */
    /* font-weight: bold; This makes the text bold */
    border-right: 0.2em solid #666;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: #00ff1e; }
}

.image-container {
    display: flex;
    justify-content: center;
}

.organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.side-image {
    max-width: 20%; /* Adjust based on your requirements */
}

.organizer-info {
    text-align: center;
    font-size: 12px;
}

.organizers-title {
    text-align: center;
    font-size: 14px;
}

.organizers-subtitle {
    text-align: center;
    font-size: 12px;
}

.sponsors-title {
    text-align: center;
}
  
.sponsor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
.sponsor-image {
    max-width: 15%; /* Adjust as needed */
    height: auto;
    padding: 30px; /* Optional, adds some space between the images */
}

.info span {
    display: block;
    margin-bottom: 0.5em;  /* Adjust as needed */
}
  
@keyframes buttonAnimation {
    0%   { transform: scale(1.1); }
    50%  { transform: scale(0.9); }
    100% { transform: scale(1.1); }
}
  
.animated-button {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    animation: buttonAnimation 2s infinite; /* This line starts the animation */
}

.center {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
  
pre {
    font-family: monospace; /* Ensures that the font is a fixed-width font */
    margin: 0;              /* Removes any default margin */
}

.ascii-art-container {
    display: flex;
    justify-content: center;
}
  
.ascii-art-container pre {
    text-align: left; /* optional, ensure the ASCII art aligns as expected */
}
  
.terminal-button {
    display: inline-block;
    padding: 10px 20px;
    color: #00ff00;
    background-color: #000000;
    border: 1px solid #00ff00;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    transition: all 0.3s ease-out;
  }
  
.terminal-button:hover {
    color: #000000;
    background-color: #00ff00;
}
