<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    <h1 class="organizers-title">Prizes</h1>
    <h6>    </h6>
    <div class="image-container">
      <div class="organizer">
        <img class="side-image" src="/assets/images/trophy.png" alt="prizes">
        <div class="organizer-info">
          <h6> ☆ $2K cash & partnership meeting ☆ </h6>
          - Hummingbird -
          <h6> ☆ $2.5K credits & GPT-4 ☆ </h6>
          - Open AI -
          <h6> ☆ 1-1 AI mentoring workshop ☆ </h6>
          - Microsoft for Startups -
        </div>
      </div>
    </div>
    {%- include footer.html -%}

    <h1 class="organizers-title">Judges</h1>
    <div class="image-container">
      <div class="organizer">
        <img class="side-image" src="/assets/images/nikita.png" alt="Nikita">
        <div class="organizer-info">
          <h6>Nikita Andersson</h6>
          <div class="info">
            Investor at Hummingbird
        </div> 
        </div>
      </div>
      <div class="organizer">
        <img class="side-image" src="/assets/images/simba.png" alt="Simba">
        <div class="organizer-info">
          <h6>Simba Kaur Deu</h6>
          <div class="info">
            Chief of Staff at Vital
        </div>        
        </div>
      </div>
    </div>
    <h6>    </h6>
    <div class="image-container">
      <div class="organizer">
        <img class="side-image" src="/assets/images/shun.png" alt="Shun">
        <div class="organizer-info">
          <h6>Shun Pang</h6>
          <div class="info">
            Co-founder & CEO at Anima
        </div> 
        </div>
      </div>
      <div class="organizer">
        <img class="side-image" src="/assets/images/abdel.png" alt="Abdel">
        <div class="organizer-info">
          <h6>Abdel Mahmoud</h6>
          <div class="info">
            Founder & CEO at Co:Helm
        </div>        
        </div>
      </div>
    </div>
    <h6>    </h6>
    <div class="image-container">
      <div class="organizer">
        <img class="side-image" src="/assets/images/peter.png" alt="Peter">
        <div class="organizer-info">
          <h6>Peter Hayes</h6>
          <div class="info">
            Co-founder & CTO at Humanloop
        </div> 
        </div>
      </div>
      <div class="organizer">
        <img class="side-image" src="/assets/images/fernando.png" alt="Fernando">
        <div class="organizer-info">
          <h6>Fernando Pérez-García</h6>
          <div class="info">
            Senior Research Machine Learning Engineer at Microsoft Health Futures
        </div>      
        </div>
      </div>
    </div>
    <!-- <div class="image-container">
      More TBA
    </div> -->
    {%- include footer.html -%}

    <h1 class="organizers-title">Sponsors</h1>
    <div class="sponsor-container">
      <img class="sponsor-image" src="/assets/images/imperial.png" alt="Sponsor 6">
      <img class="sponsor-image" src="/assets/images/ai4h.png" alt="Sponsor 5">
      <img class="sponsor-image" src="/assets/images/EPSRC.png" alt="Sponsor 4">
    </div>
    <div class="sponsor-container">
      <img class="sponsor-image" src="/assets/images/hb.png" alt="Sponsor 1">
      <img class="sponsor-image" src="/assets/images/microsoft.png" alt="Sponsor 2">
      <img class="sponsor-image" src="/assets/images/openai.png" alt="Sponsor 3">
    </div>
    <div class="sponsor-container">
      <img class="sponsor-image" src="/assets/images/anima.png" alt="Sponsor 7">
    </div>
    {%- include footer.html -%}

    <h1 class="organizers-title">Organisers</h1>
    <p class="organizers-subtitle">Please contact us for enquiries.</p>
    <div class="image-container">
      <div class="organizer">
        <img class="side-image" src="/assets/images/aj.png" alt="Alex">
        <div class="organizer-info">
          <h6>Alexander Jenkins</h6>
          <div class="info">
            PhD Student at Imperial<br>
            <a href="mailto:aj2221@ic.ac.uk">aj2221@ic.ac.uk</a>
        </div> 
        </div>
      </div>
      <div class="organizer">
        <img class="side-image" src="/assets/images/av.png" alt="Avish">
        <div class="organizer-info">
          <h6>Avish Vijayaraghavan</h6>
          <div class="info">
            PhD Student at Imperial<br>
            <a href="mailto:av1017@ic.ac.uk">av1017@ic.ac.uk</a>
        </div>        
        </div>
      </div>
    </div>
    {%- include footer.html -%}
    <small>UKRI Centre for Doctoral Training in Artificial Intelligence for Healthcare, EP/S023283/1</small>

    </div>
    <script src="/assets/js/typeWriter.js"></script>
  </body>
</html>
